<a href="https://colab.research.google.com/github/Vishwas28789/task1/blob/main/Logic_Building_Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
Data Science Internship – February 2026
Logic Building Task – 1
Intern Name: Vishwas M
"""

'\nData Science Internship – February 2026\nLogic Building Task – 1\nIntern Name: Vishwas M\n'

In [12]:


username = "admin"
password = "1234"


input_username = input("Enter username: ")
input_password = input("Enter password: ")


if input_username == username and input_password == password:
    print("Login Successful")
else:
    print("Invalid Credentials")

Enter username: admin
Enter password: 1234
Login Successful

In [10]:

marks = [45, 78, 90, 33, 60]

pass_count = 0
fail_count = 0

for mark in marks:
    if mark >= 50:
        pass_count += 1
    else:
        fail_count += 1

print("Total Students Passed:", pass_count)
print("Total Students Failed:", fail_count)

Total Students Passed: 3
Total Students Failed: 2

In [9]:

names = [" Alice ", "bob", " CHARLIE "]

cleaned_names = []

for name in names:
    cleaned_name = name.strip().lower()
    cleaned_names.append(cleaned_name)

print("Cleaned Names List:", cleaned_names)

Cleaned Names List: ['alice', 'bob', 'charlie']

In [8]:

messages = ["Hi", "Welcome to the platform", "OK"]

for message in messages:
    length = len(message)
    print(f"Message: '{message}' | Length: {length}")

    if length > 10:
        print("⚠️ This message is longer than 10 characters")

Message: 'Hi' | Length: 2
Message: 'Welcome to the platform' | Length: 23
⚠️ This message is longer than 10 characters
Message: 'OK' | Length: 2

In [7]:

logs = ["INFO", "ERROR", "WARNING", "ERROR"]

error_count = 0

for log in logs:
    if log == "ERROR":
        error_count += 1

print("Total ERROR messages:", error_count)

Total ERROR messages: 2